# Ignore everything
/*
public/robots.txt
public/assets
public/favicon.svg
public/_redirects
public/urbangardener-og.jpg
public/images/*
src/components/BlogPostingJSONLD.astro
# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!package.json
!.prettierrc
!.eslintrc.js
!README.md